export top_level=$(git rev-parse --show-toplevel)
unset KUBECONFIG
if [ -f resources/.vault-init.json ]; then
  export VAULT_TOKEN=$(jq -r '."root_token"' resources/.vault-init.json)
fi

# Update the following variables to match your environment

export VAULT_ADDR=https://vault.kubernetes.docker.internal
export PREFIX_NAME=ww-paulc
export CLUSTER_NAME=ww-paulc-macbook
export GITHUB_MGMT_ORG=ww-gitops
export GITHUB_MGMT_REPO=paulcarlton-ww-macbook
export USER_EMAIL=paul.carlton@weave.works
export GITHUB_USER=paulcarlton-ww
export AWS_TAG_creator="paul.carlton@weave.works"
export AWS_TAG_customer="weaveworks-cx"
export AWS_TAG_projectGid="20276"

source bin/lib.sh
add_to_path $top_level/bin
