export top_level=$(git rev-parse --show-toplevel)
unset KUBECONFIG
if [ -f resources/.vault-init.json ]; then
  export VAULT_TOKEN=$(jq -r '."root_token"' resources/.vault-init.json)
fi
export VAULT_ADDR=https://vault.kubernetes.docker.internal

source bin/lib.sh
add_to_path $top_level/bin

export GITHUB_MGMT_ORG=... #  ww-gitops
export GITHUB_MGMT_REPO=... # paulcarlton-ww-macbook

