export top_level=$(git rev-parse --show-toplevel)
unset KUBECONFIG
export VAULT_TOKEN=$(jq -r '."root_token"' resources/.vault-init.json)
export VAULT_ADDR=https://vault.kubernetes.docker.internal

export GITHUB_MGMT_ORG=... #  ww-gitops
export GITHUB_MGMT_REPO=... # paulcarlton-ww-macbook

