region = "${awsRegion}"
vpc_id = "${vpcId}"
public_subnets = "${publicSubnets}"
private_subnets = "${privateSubnets}"
route53_zone_id = "${route53ZoneId}"
route53_zone_name = "${route53ZoneName}"
account_id = "${awsAccountId}"
cluster_name = "${resourceName}-${clusterName}"
prefix_name = "${prefixName}"
eks_version = "1.23"